.jumbotron {
    background-color: darkblue;
    text-align: center;
    color: white;
    box-shadow: 0 40px 60px 0 rgba(28, 28, 28, 0.4);
}
#container {
    float: center;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0 40px 60px 0 rgba(28, 28, 28, 0.4);
}
